<div class="contrainer-fluid">
  <div class="bg-info form-header p-2 text-center text-white">
    <h3 class="h1">ListManager User</h3>
    <h3 class="h1">Registration</h3>
  </div>
  <div
    class="alert alert-danger mt-2 p-2 text-center text-dark"
    *ngIf="ErroMessage != null"
  >
    {{ ErroMessage }}
  </div>
  <div class="p-2">
    <form novalidate #form="ngForm" (ngSubmit)="register(form)" class="myForm">
      <div class="form-group">
        <label class="text-dark">Name</label>
        <input
          class="form-control"
          name="username"
          [(ngModel)]="username"
          required
        />
      </div>
      <div class="form-group">
        <label class="text-dark">Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </div>
      <div class="text-center">
        <button class="btn btn-secondary m-1" routerLink="/">Go back</button>
        <button class="btn btn-primary m-1" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>
