<div class="contrainer-fluid d-flex flex-column h-100">
  <div class="row">
    <div class="col bg-dark text-white">
      <button class="btn btn-danger m-2" style="float: right" (click)="goToLogIn()">
        User
      </button>
      <!-- <a class="navbar-brand" routerLink="/main-page">List Manager</a> -->
      <navigation activeLink="Your Lists"></navigation>
      <list-summary></list-summary>
    </div>
  </div>
  <div class="row h-100 align-self-stretch">
    <div class="col-3 p-2">
      <!-- <span class="p-2">{{categories.length}} Categories</span> -->
      <button class="btn btn-block btn-outline-success w-100" (click)="addNewList()">
        Create new List
      </button>
      <h4 class="p-2 text-center">Categories:</h4>
      <button class="btn btn-block btn-outline-dark w-100" (click)="changeCategory()">
        All
      </button>
      <button *ngFor="let category of categories"
          class="btn btn-outline-dark btn-block w-100"
          [class.active]="category == selectedCategory"
          (click)="changeCategory(category)">
        {{category}}
      </button>

    </div>
    <div class="col-9 bg-secondary p-2 h-100 d-flex flex-column pb-3">

      <div *ngFor="let list of lists" class="card m-1 p-1 bg-light">
        <h4>
          {{list.name}}
          <span class="badge badge-pill badge-primary float-right text-warning" style="float: right">
            {{list.items?.length}}
          </span>
        </h4>
        <div class="card-text bg-white p-1">
          Embedded list content will go here
          <button class="btn btn-success btn-sm float-right"
              style="float: right"
              (click)="setListToListManager(list)">
            View List
          </button>
        </div>
      </div>

      <div class="form-inline float-left mr-1 mt-auto">
        <select class="form-control" [value]="listsPerPage"
            (change)="changePageSize(($any($event.target)).value)">
          <option value="3">3 per Page</option>
          <option value="4">4 per Page</option>
          <option value="6">6 per Page</option>
          <option value="8">8 per Page</option>
        </select>
      </div>

      <div class="btn-group float-right">
        <button *ngFor="let page of pageNumbers"
            (click)="changePage(page)"
            class="btn btn-outline-light"
            [class.active]="page == selectedPage">
          {{page}}
        </button>
        <!-- <button *counter="let page of pageCount"
            (click)="changePage(page)"
            class="btn btn-outline-primary"
            [class.active]="page == selectedPage">
          {{page}}
        </button> -->
      </div>

    </div>
  </div>
</div>
